@import url('reset.css');

.iw_wrapper{
	width:95%;
	margin:0px auto 100px auto;
	position: relative;
}
ul.iw_thumbs li{
	float:left;
	margin:10px;
}
ul.iw_thumbs li div{
	position:absolute;
	top:5px;
	width:180px;
	padding:0px 10px;
	display:none;
	color:#fff;
	z-index:100;
}
ul.iw_thumbs li:nth-child(1){
	margin-left:100px;
}
ul.iw_thumbs li:nth-child(even){
	margin-top:100px;
}
ul.iw_thumbs li:nth-child(3n){
	margin-left:100px;
}
ul.iw_thumbs li img{
	cursor:pointer;
	position:relative;
}
ul.iw_thumbs li:nth-child(even) img{
	height:250px;
}
ul.iw_thumbs li:nth-child(odd) img{
	height:220px;
}
ul.iw_thumbs li:nth-child(5n) img{
	height:280px;
}
ul.iw_thumbs li:nth-child(6n) img{
	height:300px;
}
ul.iw_thumbs li:nth-child(7n) img{
	height:200px;
}
.iw_ribbon{
	position:fixed;
	height:126px; /*first 126 then 0 to close and 100% to open (while top goes to 0) */
	width:0px;/*first 0 then animate to 100%*/
	left:0px;/*or right 0*/
	top:0px; /*First, top of thumb, then animate to 0*/
	background:#000;
	opacity:0.8;
	z-index:10;
	overflow:hidden;
	display:none;
}
.iw_close{
	position:absolute;
	top:10px;
	right:10px;
	background:#f0f0f0 url(../images/close.gif) no-repeat center center;
	width:18px;
	height:18px;
	display:none;
	cursor:pointer;
}
.iw_zoom{
	color:white;
	text-transform:uppercase;
	padding:14px;
	display:none;
	float:right;
	margin-right:30px;
}
.iw_ribbon img{
	position:absolute;
	top:50%;
	left:50%;
	border:7px solid #fff;
}
.iw_loading{
	background: #fff url(../images/loader.gif) no-repeat center center;
	width:28px;
	height:28px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10000;
	margin: -14px 0px 0px -14px;
	opacity:0.8;
}

body {
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
	background: rgb(0, 0, 0);
  background-attachment: fixed;
  background-position: left; 
}
button:hover {
  transform: skew(-10deg);
}
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: whitesmoke;
  font-weight: 100;
	line-height: 1.5;
	padding: 0 20px;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: whitesmoke;
  font-weight: 100;
	line-height: 0.5;
}
h4 {
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	font-weight: 100;
}
h5 {
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	font-weight: 100;
	padding-right: 50px ;
	padding-top: 10px ;
	text-align: left;
	line-height: 1.6 ;
}
h6 {
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	font-weight: 100;
	text-align: left;
	line-height: 1.7 ;
	padding-bottom: 50px ;
	padding-right: 100px ;
	padding-left: 20px
}
h7 {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-weight: 100;
	text-align: left;
	line-height: 2;
}

a:link {
  	color: whitesmoke;
  	text-decoration: none;
}
a:visited {
  	color: whitesmoke;
}

.nav-list {
  	margin: 50px;
  	height: 100%;
	width: 35%;
	position: fixed;
}
.page-container {
	width: 100%;
  	height: 100%;
	display: flex;
  	position: fixed;
	overflow: auto;
}
.page-content {
	width: 65%;
	overflow: scroll;
}
.index-page-container {
  	width: 100%;
  	height: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px;
	margin-bottom: 50px;
}

.work-page-wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 30px;
		margin-bottom: 200px;
}

.ella-page-wrapper {
	width: 100%;
	height: 100%;
}
.boxes {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.text-wrapper {
	width: 50%;
	padding-left: 20px;
}

a:hover {
	font-style: italic;
}

@media only screen and (max-width: 600px) {
	.page-container {
		flex-direction: column;
		align-items: center;
	}
	.image-wrapper {
		width: 90%;
		height: 5000px;
		overflow: initial;
		margin-bottom: 100px;
	}
	.text-wrapper {
		width: 100%;
	}
	.boxes {
		flex-direction: column;
		align-items: center;
		overflow: auto;
		margin-bottom: 200px;		
	}