html{

}
body {
  color: black;
  font-family: "Manrope", sans-serif;
  padding: 0;
  font-size: 17px;
  margin: 0;
  background-attachment: fixed;
  background-position: left; 
  font-weight: 100;
	height: 100%;
}

@keyframes rotate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

div.loading{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background-color: white;
	z-index: 2; 
	
	transition: opacity 1s;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

div.loading img{
	animation: rotate 4s infinite linear;
}

div.loading.hidden{
	opacity: 0;
	pointer-events: none;
}

h2 {
  	font-family: bely, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 75px;
  	font-weight: 100;
	line-height: 1.2;
	text-align: center;
}
h3 {
  	font-family: bely, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
  	font-weight: 100;
	line-height: 1.2;
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
}
h4 {
	font-family: "Manrope", sans-serif;
	font-size: 20px;
	font-weight: 100;
	line-height: 1.2;
	margin-right: 20px;
}
h5 {
	font-family: "Manrope", sans-serif;
	font-size: 17px;
	font-weight: 100;
	padding-right: 35px;
	padding-top: 10px;
	line-height: 1.3;
}
h6 {
	font-family: "Manrope", sans-serif;
	font-size: 17px;
	font-weight: 100;
	text-align: left;
	line-height: 1.2 ;
	text-align: center;
}
h7 {
  	font-family: bely, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
  	font-weight: 100;
	line-height: 1.2;
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
}

img {
	width: 100%;		
}
video {
	width: 100%;
}

a:link {
  	color: inherit;
	text-decoration: none;
}
a:visited {
	color: inherit;
	text-decoration: none; 
}

.nav-list {
  	margin: 50px;
  	height: 100%;
	width: 35%;
}

.page-container {
	width: 100%;
  	height: 100%;
	display: flex;
	overflow: auto;
}

.about {
	width: 100%;
  	height: 100%;

	text-align: center;
}

.page-content {
	width: 50%;
	overflow: scroll;
}

.index-page-container {
  	width: 100%;
  	height: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px;
	margin-bottom: 50px;
}

.work-page-wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.intro-container {
	width: 100%;
}

.ella-page-wrapper {
	width: 100%;
	height: 100%;
}

.boxes {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.boxes-contact {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 240px;
}

.text-colour {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 20px;
}

.text-wrapper {
	width: 50%;
	padding-left: 20px;
	height: 800px;
	height: 100%;
}

.image-wrapper {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100vh;
	overflow: scroll;
}

hr {  
    border: none; 
    height: 1px; 
    background: black; 
} 

a:hover {
  	transform: rotate(5deg);
}

#color {
    display:block;
    width:15px;
    height:15px;
    border: 2px solid black;
    border-radius: 100%;
    background: none;
}

.card {
	display: flex;
	justify-content:center;
	perspective: 800px;
	margin-bottom: 30px;
}

canvas {
	vertical-align: bottom;
}

#canvas1 {
    position:absolute;    /* Take the element out of the normal document flow */
    z-index:-1;           /* Place the element behind normal content */
    top:0;                /* Start at top of viewport */
    left:0;               /* Start at left edge of viewport */  
}

@media only screen and (max-width: 600px) {
	.page-container {
		width: 100%;
		flex-direction: column;
		align-items: center;
	}
	
	.image-wrapper {
		width: 100%;
		height: auto;
		overflow: initial;
	}
	
	.text-wrapper {
		width: 100%;
		margin-left: 10px;
	}
	
	.boxes {
		flex-direction: column;
		align-items: center;
		overflow: auto;	
	}
	
	h2 {
	font-family: bely, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
  	font-weight: 100;
	line-height: 1.2;
	text-align: center;
	}
	
	canvas {
	display: none;
	}

    #canvas1 {
    display: none; 
    }
	
	#color {
    display:block;
    width:15px;
    height:15px;
    border: 2px solid black;
    border-radius: 100%;
    background: none;
	padding: 0px;
	}
	
	h7 {
  	font-family: bely, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
  	font-weight: 100;
	line-height: 1.2;
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
}
	
	