html{

}
body {
  color: black;
  font-family: "Manrope", sans-serif;
  padding: 0;
	font-size: 17px;
  margin: 0;
  background-attachment: fixed;
  background-position: left; 
	font-weight: 100;
}

h2 {
  font-family: bely, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 67px;
  	font-weight: 100;
	line-height: 1.2;
	text-align: center;
}
h3 {
  font-family: bely, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 27px;
  	font-weight: 100;
	line-height: 1.2;
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
}
h4 {
	font-family: "Manrope", sans-serif;
	font-size: 27px;
	font-weight: 100;
	line-height: 1.2;
	margin-right: 20px;
}
h5 {
	font-family: "Manrope", sans-serif;
	font-size: 17px;
	font-weight: 100;
	padding-right: 50px ;
	padding-top: 10px ;
	text-align: justify;
	line-height: 1.2 ;
	text-indent: 50px;
}
h6 {
	font-family: "Manrope", sans-serif;
	font-size: 17px;
	font-weight: 100;
	text-align: left;
	line-height: 1.2 ;
	text-align: center;
}

img {
	width: 100%;		
}
video {
	width: 100%;
}

a:link {
  	color: inherit;
	text-decoration: none;
}
a:visited {
	color: inherit;
	text-decoration: none; 
}

.nav-list {
  	margin: 50px;
  	height: 100%;
	width: 35%;
}
.page-container {
	width: 100%;
  	height: 100%;
	display: flex;
	overflow: auto;
}
.page-content {
	width: 65%;
	overflow: scroll;
}
.index-page-container {
  	width: 100%;
  	height: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px;
	margin-bottom: 25px;
}

.work-page-wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 30px;
}

.ella-page-wrapper {
	width: 100%;
	height: 100%;
}

.boxes {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.text-colour {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	margin-bottom: 20px;
}

.text-wrapper {
	width: 35%;
	padding-left: 20px;
	height: 800px;
	height: 100%;
}

.image-wrapper {
	display: flex;
	flex-direction: column;
	width: 65%;
	height: 800px;
	overflow: scroll;
}

hr {  
            border: none; 
            height: 1px; 
            background: black; 
        } 

a:hover {
  transform: rotate(5deg);
}

#color {
    display:block;
    width:15px;
    height:15px;
    border: 2px solid Blue;
    border-radius: 50%;
    background: white;
}

@media only screen and (max-width: 600px) {
	.page-container {
		width: 100%;
		flex-direction: column;
		align-items: center;
	}
	.image-wrapper {
		width: 100%;
		height: 5000px;
		overflow: initial;
		margin-bottom: 100px;
	}
	.text-wrapper {
		width: 100%;
		margin-left: 20px;
	}
	.boxes {
		flex-direction: column;
		align-items: center;
		overflow: auto;
		margin-bottom: 200px;		
	}